$color-background: #f7ede0;
$color-creamy: #f8f3ed;
$color-olives: #8e8f78;
$color-black: #000000;
$color-brown: #574632;
$color-white: #ffffff;

$font-main: 'Montserrat Alternates', sans-serif;
$font-accent: 'Libre Baskerville', serif;

/* Spacing */
$container-width: 1240px;
$container-padding: 15px;

/* Transition */
$transition-default: 0.3s ease;

/* Viewport sizes */
$mobile: 767px;
$tablet: 990px;
