@use '../utils' as *;

.swiper {
	overflow: hidden;
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}
.swiper-initialized {
	touch-action: pan-y;
}
.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}
.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}
.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none;
}
.swiper-button-disabled {
	opacity: 0.5;
}

.swiper-nav {
	@include flex-center;
	gap: 10px;
	@include respond(tablet) {
		display: none;
	}
}
.swiper-nav-prev,
.swiper-nav-next {
	@include flex-center;
	width: 52px;
	height: 52px;
	padding: 23px 20px;
	color: $color-brown;
	font-size: 14px;
	border-radius: 50px;
	background: $color-white;
	transition: $transition-default;
	@include hover {
		color: $color-white;
		background: $color-olives;
	}
}
.swiper-nav-prev {
	transform: rotate(180deg);
}

.swiper-scrollbar {
	display: none;
	@include respond(tablet) {
		display: block;
		width: 454px;
		height: 3px;
		border-radius: 5px;
		background: rgba(87, 70, 50, 0.2);
		margin: auto;
		margin-top: 40px;
	}
	@include respond(mobile) {
		width: 240px;
		margin-top: 20px;
	}
}

.swiper-scrollbar-drag {
	width: auto;
	height: 3px;
	border-radius: 5px;
	background: rgba(87, 70, 50, 0.4);
}
